In [2]:
!pip freeze > requirements.txt

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('F:/Projects/SEHA/data/final/dataset.parquet')
df.head()

,PERSONID,GENDER,AGE,DEATH,POMPE,% CV,% DONOR CHIMERISM,% RECIPIENT CHIMERISM,% WEIGHT LOSS,%MINVOL,...,Z98.42,Z98.818,Z98.84,Z98.89,Z98.890,Z99.11,Z99.2,Z99.3,Z99.81,Z99.89
0,2366019,1,1,0,0,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3342535,2,2,0,0,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7254808,2,1,0,0,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7688497,2,0,0,0,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8064753,2,2,0,0,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df.at[df[df.PERSONID == 60405775].index[0], 'POMPE'] = 0

In [10]:
df[df.PERSONID == 60405775]

,PERSONID,GENDER,AGE,DEATH,POMPE,% CV,% DONOR CHIMERISM,% RECIPIENT CHIMERISM,% WEIGHT LOSS,%MINVOL,...,Z98.42,Z98.818,Z98.84,Z98.89,Z98.890,Z99.11,Z99.2,Z99.3,Z99.81,Z99.89
7512,60405775,2,1,0,0,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df.to_parquet('F:/Projects/SEHA/data/final/dataset.parquet', index=False, compression='gzip')

c:\Users\Zahir\.conda\envs\muslim\lib\site-packages\pyarrow\pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):

In [13]:
clinical_df = pd.read_parquet('F:/Projects/SEHA/data/final/clinical.parquet')
drugs_df = pd.read_parquet('F:/Projects/SEHA/data/final/drugs.parquet')
labs_df = pd.read_parquet('F:/Projects/SEHA/data/final/labs.parquet')
demographics_df = pd.read_parquet('F:/Projects/SEHA/data/final/demographics.parquet')
diagnosis_df = pd.read_parquet('F:/Projects/SEHA/data/final/diagnosis.parquet')

In [15]:
clinical_df.at[clinical_df[clinical_df.PERSONID == 60405775].index[0], 'POMPE'] = 0
drugs_df.at[drugs_df[drugs_df.PERSONID == 60405775].index[0], 'POMPE'] = 0
labs_df.at[labs_df[labs_df.PERSONID == 60405775].index[0], 'POMPE'] = 0
demographics_df.at[demographics_df[demographics_df.PERSONID == 60405775].index[0], 'POMPE'] = 0
diagnosis_df.at[diagnosis_df[diagnosis_df.PERSONID == 60405775].index[0], 'POMPE'] = 0

In [17]:
clinical_df.to_parquet('F:/Projects/SEHA/data/final/clinical.parquet', index=False, compression='gzip')
drugs_df.to_parquet('F:/Projects/SEHA/data/final/drugs.parquet', index=False, compression='gzip')
labs_df.to_parquet('F:/Projects/SEHA/data/final/labs.parquet', index=False, compression='gzip')
demographics_df.to_parquet('F:/Projects/SEHA/data/final/demographics.parquet', index=False, compression='gzip')
diagnosis_df.to_parquet('F:/Projects/SEHA/data/final/diagnosis.parquet', index=False, compression='gzip')

c:\Users\Zahir\.conda\envs\muslim\lib\site-packages\pyarrow\pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):

### **CLINICAL**

In [2]:
clinical_df = pd.read_parquet("F:/Projects/SEHA/data/transformed/clinical.parquet")
print(f"{clinical_df.shape}")
clinical_df.head()

(76985, 3264)

,PERSONID,% CV,% DONOR CHIMERISM,% RECIPIENT CHIMERISM,% WEIGHT LOSS,%MINVOL,. SATURATION NIRS_4,.A-LINE_DIASTOLIC,.A-LINE_HEART RATE,.A-LINE_MEAN,...,ZIDOVUDINE,ZINC GLUCONATE,ZINC LVL,ZINC OXIDE TOPICAL,ZINC OXIDE-BETAMETHASONE 0.05%,ZINC OXIDE-BETAMETHASONE 0.1%,ZINC OXIDE-NYSTATIN,ZOLEDRONIC ACID,ZONISAMIDE,POMPE
0,2366019,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,0
1,3342535,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,0
2,7254808,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,0
3,7688497,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,0
4,8064753,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,0

In [19]:
# Calculate the percentage of missing values for each column
missing_percentage = clinical_df.isna().sum() / len(clinical_df) * 100

In [20]:
# Filter columns that have less than 50% missing values
cols_less_than_40_percent_missing = missing_percentage[missing_percentage < 40].index.tolist()

# Display those columns with their missing value count
clinical_df[cols_less_than_40_percent_missing].isna().sum()

PERSONID                                        0
BCG (BACILLE CALMETTE-GUÉRIN)               16396
BODY MASS INDEX                              5049
BSA                                         17225
DTAP-HEPB-HIB-IPV (HEXA)                    17936
HEAD CIRCUMFERENCE                           8120
HEIGHT/ LENGTH                               4899
HEPB PEDIATRIC (HEPATITIS B)                17720
HUMPTY DUMPTY FALL SCORE OUTPATIENT         26586
NUMBER OF ITEMS DISPENCED                   20820
OXYGEN SATURATION                           17556
PCV13 (PNEUMOCOCCAL CONJUGATE,13 VALENT)    17574
PERIPHERAL PULSE RATE                       18607
RESPIRATORY RATE                            15785
RIPS PAIN ASSESSMENT SCORE                  15050
ROTAVIRUS VACCINE                           23129
TEMPERATURE TYMPANIC                         5628
WEIGHT                                       1727
WHO BMI Z-SCORE                              5077
WHO HEAD CIRCUMFERENCE PERCENTILE            7359
WHO HEAD CIRCUMFERENCE Z-SCORE               7359
WHO HEIGHT/LENGTH PERCENTILE                 4969
WHO HEIGHT/LENGTH Z-SCORE                    4969
WHO WEIGHT PERCENTILE                        1749
WHO WEIGHT Z-SCORE                           1749
POMPE                                           0
dtype: int64

In [22]:
# Step 1: Filter rows where POMPE is 1
pompe_1_rows = clinical_df[clinical_df['POMPE'] == 1]

# Step 2: Identify columns with at least one non-null value when POMPE is 1
cols_with_value_for_pompe_1 = pompe_1_rows.columns[pompe_1_rows.notna().any()].tolist()

# Optionally, you can combine these columns with your previous list
# and add 'POMPE' and 'PERSON_ID' to the list
final_cols = list(set(cols_less_than_40_percent_missing + cols_with_value_for_pompe_1 + ['POMPE', 'PERSONID']))

# Step 3: Filter the dataframe to keep those columns
clinical_df = clinical_df[final_cols]

In [3]:
print(f"{clinical_df.shape}")
clinical_df.head()

(76985, 3264)

,PERSONID,% CV,% DONOR CHIMERISM,% RECIPIENT CHIMERISM,% WEIGHT LOSS,%MINVOL,. SATURATION NIRS_4,.A-LINE_DIASTOLIC,.A-LINE_HEART RATE,.A-LINE_MEAN,...,ZIDOVUDINE,ZINC GLUCONATE,ZINC LVL,ZINC OXIDE TOPICAL,ZINC OXIDE-BETAMETHASONE 0.05%,ZINC OXIDE-BETAMETHASONE 0.1%,ZINC OXIDE-NYSTATIN,ZOLEDRONIC ACID,ZONISAMIDE,POMPE
0,2366019,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,0
1,3342535,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,0
2,7254808,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,0
3,7688497,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,0
4,8064753,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,0

In [26]:
clinical_df.to_parquet("F:/Projects/SEHA/data/final/clinical.parquet")

### **DEMOGRAPHIC**

In [3]:
demo_df = pd.read_parquet("F:/Projects/SEHA/data/transformed/demographics.parquet.gzip")
print(f"{demo_df.shape}")
demo_df.head()

(93372, 13)

,PERSONID,EPI,GENDER,NATIONALITY,DOB,DOE,POMPE,COUNTRY,CONTINENT,REGION,ISO3,AGE,DEATH
0,10177807,EPI01-258-496,2,UNKNOWN,2021-01-28,None,0,UNKNOWN,UNKNOWN,UNKNOWN,None,2,0
1,14337724,EPI01-888-713,1,FILIPINO,2022-11-25,03/JAN/2023,0,Philippines,Asia,Southeast Asia,PHL,0,1
2,21979392,EPI02-529-640,2,AFGHAN,2022-10-01,None,0,Afghanistan,Asia,South Asia,AFG,0,0
3,2366019,EPI08-143-513,1,PALESTINIAN,2022-04-14,None,0,"Palestine, State of",Asia,Western Asia,PSE,1,0
4,3342535,EPI00-161-320,2,EMIRATI,2021-02-25,None,0,United Arab Emirates,Asia,Western Asia,ARE,2,0

In [4]:
cols_to_keep = ["PERSONID", "GENDER", "AGE", "DEATH", "POMPE"]
demo_df = demo_df[cols_to_keep]
print(f"{demo_df.shape}")
demo_df.head()

(93372, 5)

   PERSONID  GENDER  AGE  DEATH  POMPE
0  10177807       2    2      0      0
1  14337724       1    0      1      0
2  21979392       2    0      0      0
3   2366019       1    1      0      0
4   3342535       2    2      0      0

In [60]:
demo_df.to_parquet("F:/Projects/SEHA/data/final/demographics.parquet")

### **LABS**

In [5]:
labs_df = pd.read_parquet("F:/Projects/SEHA/data/transformed/labs_transformed.parquet.gzip")
print(f"{labs_df.shape}")
labs_df.head()

(64247, 821)

,PERSONID,.ACTH 30MIN,.ACTH 60MIN,.ACTH BASELINE,.CHOL/HDL RATIO,.CORTISOL 30 MIN,.CORTISOL 30MIN,.CORTISOL 60 MIN,.CORTISOL 60MIN,.CORTISOL BASELINE,...,VITAMIN D -1.25,VITAMIN D 25 HYDROXY LEVEL,VITAMIN E LEVEL,VITAMINE A & VITAMINE E,VMA URINE SCREEN (PEDIATRIC),VON WILLEBRAND ACTIVITY,VWF ANTIGEN,WEAK D,ZINC LEVEL,POMPE
0,2366019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,3342535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7254808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,7688497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,8064753,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,42.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
# Calculate the percentage of missing values for each column
missing_percentage = labs_df.isna().sum() / len(labs_df) * 100

In [9]:
# Filter columns that have less than 50% missing values
cols_less_than_40_percent_missing = missing_percentage[missing_percentage < 50].index.tolist()

# Display those columns with their missing value count
labs_df[cols_less_than_40_percent_missing].isna().sum()

PERSONID          0
CBC W/DIFF    25706
POMPE             0
dtype: int64

In [10]:
# Step 1: Filter rows where POMPE is 1
pompe_1_rows = labs_df[labs_df['POMPE'] == 1]

# Step 2: Identify columns with at least one non-null value when POMPE is 1
cols_with_value_for_pompe_1 = pompe_1_rows.columns[pompe_1_rows.notna().any()].tolist()

# Optionally, you can combine these columns with your previous list
final_cols = list(set(cols_less_than_40_percent_missing + cols_with_value_for_pompe_1 + ['POMPE', 'PERSONID']))

# Step 3: Filter the dataframe to keep those columns
labs_df = labs_df[final_cols]

In [6]:
print(f"{labs_df.shape}")
labs_df.head()

(64247, 821)

,PERSONID,.ACTH 30MIN,.ACTH 60MIN,.ACTH BASELINE,.CHOL/HDL RATIO,.CORTISOL 30 MIN,.CORTISOL 30MIN,.CORTISOL 60 MIN,.CORTISOL 60MIN,.CORTISOL BASELINE,...,VITAMIN D -1.25,VITAMIN D 25 HYDROXY LEVEL,VITAMIN E LEVEL,VITAMINE A & VITAMINE E,VMA URINE SCREEN (PEDIATRIC),VON WILLEBRAND ACTIVITY,VWF ANTIGEN,WEAK D,ZINC LEVEL,POMPE
0,2366019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,3342535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7254808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,7688497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,8064753,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,42.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [12]:
labs_df.to_parquet("F:/Projects/SEHA/data/final/labs.parquet")

### **DRUGS**

In [7]:
drugs_df = pd.read_parquet("F:/Projects/SEHA/data/transformed/drugs_transformed.parquet.gzip")
print(f"{drugs_df.shape}")
drugs_df.head()

(82921, 25692)

,PERSONID,0 TO 9 DAY SYRUP 2ML TID,0-9 COUGH AND COLD,0-9 KID COUGH AND COLD,0-9 KIDS (COUGH & COLD SYRUP ),0-9 TEETHING GEL,1,1 MASK NEBULISER,1 NEB MASK,1 NEBULISER MACHINE,...,ZONISAMIDE ORAL LIQUID,ZOVIRAX ORAL,ZOVIRAX TOPICAL 5% CREAM,ZYLET LOTEPREDNOL0.5% + TOBRAMYCIN 0.3%,ZYRTEC,ZYRTEC DROP,ZYRTEC DROPS,ZYRTEC ORAL LIQUID,ZYRTIC ORAL DROPS :12 DROPS BID FOR 5 DAYS,POMPE
0,2366019,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3342535,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7254808,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8064753,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10177807,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Filter the dataframe based on POMPE
pompe_1_df = drugs_df[drugs_df['POMPE'] == 1].drop(columns=['POMPE'])
pompe_0_df = drugs_df[drugs_df['POMPE'] == 0].drop(columns=['POMPE'])

# Calculate the sum for each column
sum_pompe_1 = pompe_1_df.sum()
sum_pompe_0 = pompe_0_df.sum()

# Identify exclusive drugs for POMPE==1
exclusive_drugs = sum_pompe_1[(sum_pompe_1 > 0) & (sum_pompe_0 == 0)].index.tolist()
exclusive_drugs

In [29]:
drugs_df[drugs_df.POMPE == 1][exclusive_drugs]

,EPINEPHRINE 3 MG [0.06 MG/KG/HR] + DEXTROSE 5% IN WATER 47 ML,FENTANYL (N) 500 MCG + SODIUM CHLORIDE 0.9% CONTINUOUS 40 ML,MILRINONE 10 MG + NORMAL SALINE 0.9% CONTINUOUS 40 ML,MYOZYME,POMPE
1074,0,0,0,0,1
6890,0,0,0,0,1
7154,0,0,0,0,1
13974,1,1,1,0,1
25599,0,0,0,0,1
39439,0,0,0,0,1
43517,0,0,0,0,1
55516,0,0,0,7,1

In [ ]:
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

cols_to_convert = [col for col in drugs_df.columns if col != 'PERSONID']

for col in tqdm(cols_to_convert, total=len(cols_to_convert)):
    drugs_df[col] = drugs_df[col].to_numpy().astype('int8')

drugs_df.info()

In [17]:
# Step 1: Calculate the percentage of non-zero values for each column
non_zero_percentage = (drugs_df != 0).sum() / len(drugs_df) * 100

In [ ]:
non_zero_percentage[non_zero_percentage > 10].index.tolist()

In [ ]:
# Exclude POMPE and PERSON_ID columns
cols_to_modify = [col for col in drugs_df.columns if col not in ['POMPE', 'PERSONID']]

# Use clip to modify the values
drugs_df[cols_to_modify] = drugs_df[cols_to_modify].clip(upper=1)

### **DIAGNOSIS**

In [8]:
diag_df = pd.read_parquet("F:/Projects/SEHA/data/transformed/diagnosis_transformed.parquet.gzip")
print(f"{diag_df.shape}")
diag_df.head()

(89379, 7509)

,PERSONID,271.0,276.51,283.9,401.9,724.5,780.6,780.60,780.79,786.50,...,Z98.818,Z98.84,Z98.89,Z98.890,Z99.11,Z99.2,Z99.3,Z99.81,Z99.89,POMPE
0,2366019,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3342535,0,1,0,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,7254808,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7688497,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8064753,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
diag_df.to_parquet("F:/Projects/SEHA/data/final/diagnosis.parquet")

In [9]:
demo_df.set_index('PERSONID', inplace=True)
clinical_df.set_index('PERSONID', inplace=True)
labs_df.set_index('PERSONID', inplace=True)
drugs_df.set_index('PERSONID', inplace=True)
diag_df.set_index('PERSONID', inplace=True)

In [20]:
# First, join demo_df with clinical_df
merged_df = demo_df.join(clinical_df.drop(columns="POMPE"), how="outer", rsuffix='_clinical')

# Now join the result with labs_df
# Note: You might need to adjust the suffixes if the column names in labs_df overlap with those in merged_df
merged_df = merged_df.join(labs_df.drop(columns="POMPE"), how="outer", rsuffix='_labs')

# Continue with drugs_df
# Adjust the suffixes again if necessary
merged_df = merged_df.join(drugs_df.drop(columns="POMPE"), how="outer", rsuffix='_drugs')

# Finally, join with diag_df
# Adjust the suffixes again if necessary
merged_df = merged_df.join(diag_df.drop(columns="POMPE"), how="outer", rsuffix='_diag')

In [23]:
# Reset the index to get the PERSONID column back
merged_df.reset_index(inplace=True)
merged_df.to_parquet("F:/Projects/SEHA/data/final/dataset.parquet", compression='gzip', index=False)

c:\Users\Zahir\.conda\envs\muslim\lib\site-packages\pyarrow\pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):

In [25]:
merged_df.shape

(93372, 37283)

In [24]:
# save each dataframe to a separate file
demo_df.reset_index(inplace=True)
demo_df.to_parquet("F:/Projects/SEHA/data/final/demographics.parquet", compression='gzip', index=False)

clinical_df.reset_index(inplace=True)
clinical_df.to_parquet("F:/Projects/SEHA/data/final/clinical.parquet", compression='gzip', index=False)

labs_df.reset_index(inplace=True)
labs_df.to_parquet("F:/Projects/SEHA/data/final/labs.parquet", compression='gzip', index=False)

drugs_df.reset_index(inplace=True)
drugs_df.to_parquet("F:/Projects/SEHA/data/final/drugs.parquet", compression='gzip', index=False)

diag_df.reset_index(inplace=True)
diag_df.to_parquet("F:/Projects/SEHA/data/final/diagnosis.parquet", compression='gzip', index=False)

c:\Users\Zahir\.conda\envs\muslim\lib\site-packages\pyarrow\pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):
c:\Users\Zahir\.conda\envs\muslim\lib\site-packages\pyarrow\pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):
c:\Users\Zahir\.conda\envs\muslim\lib\site-packages\pyarrow\pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):
c:\Users\Zahir\.conda\envs\muslim\lib\site-packages\pyarrow\pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):
C:\Users\Zahir\AppData\Local\Temp\ipykernel_10464\2287961868.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  diag_df.reset_index(inplace=True)
c:\Users\Zahir\.conda\envs\muslim\lib\site-packages\pyarrow\pandas_compat.py:373: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if _pandas_api.is_sparse(col):

In [18]:
# Assuming 'PERSONID' is already set as the index for all DataFrames
# and you want to perform an outer join to keep all records

# First, join demo_df with clinical_df
merged_df = demo_df.join(clinical_df.drop(columns="POMPE"), how="outer")

# Now join the result with labs_df
# merged_df = merged_df.join(labs_df.drop(columns="POMPE"), how="outer")

# Continue with drugs_df
# merged_df = merged_df.join(drugs_df.drop(columns="POMPE"), how="outer")

# Finally, join with diag_df
# merged_df = merged_df.join(diag_df.drop(columns="POMPE"), how="outer")

In [ ]:
# Find overlapping columns between the two DataFrames
overlapping_columns = merged_df.columns.intersection(labs_df.columns)

# Define a function to compare and merge values in overlapping columns
def compare_and_merge(df1, df2, column, tolerance=1e-9):
    discrepancies = []
    for index in df1.index.intersection(df2.index):
        value1 = df1.at[index, column]
        value2 = df2.at[index, column]
        
        # Convert both values to floats if they are not NaN
        if not pd.isna(value1):
            value1 = float(value1)
        if not pd.isna(value2):
            value2 = float(value2)
        
        # Check if both values are the same within the specified tolerance
        if pd.isna(value1) and not pd.isna(value2):
            df1.at[index, column] = value2
        elif not pd.isna(value1) and not pd.isna(value2):
            if not abs(value1 - value2) <= tolerance:
                # Log discrepancies instead of raising an error
                discrepancies.append((index, column, value1, value2))
    
    # Handle discrepancies as needed, e.g., print them, log to a file, etc.
    for discrepancy in discrepancies:
        print(f"Discrepancy at index {discrepancy[0]} for column {discrepancy[1]}: {discrepancy[2]} vs {discrepancy[3]}")
    
    return df1

# Process only the overlapping columns
for column in overlapping_columns:
    merged_df = compare_and_merge(merged_df, labs_df, column)

# Now, concatenate the non-overlapping columns from labs_df to merged_df
non_overlapping_columns = labs_df.columns.difference(merged_df.columns)
merged_df = pd.concat([merged_df, labs_df[non_overlapping_columns]], axis=1)

In [ ]:
merged_df = demo_df.join([clinical_df.drop(columns="POMPE"), 
                          labs_df.drop(columns="POMPE"), 
                          drugs_df.drop(columns="POMPE"), 
                          diag_df.drop(columns="POMPE")], 
                         how="outer")

In [18]:
all_dfs = [demo_df, clinical_df, labs_df, drugs_df, diag_df]
df_names = ['demo_df', 'clinical_df', 'labs_df', 'drugs_df', 'diag_df']

overlap = {}

for i, df1 in enumerate(all_dfs):
    for j, df2 in enumerate(all_dfs):
        if i != j:
            overlapping_cols = df1.columns.intersection(df2.columns).tolist()
            overlapping_cols = [col for col in overlapping_cols if col not in ['PERSONID', 'POMPE']]
            if overlapping_cols:
                key = f"{df_names[i]} & {df_names[j]}"
                overlap[key] = overlapping_cols

for key, value in overlap.items():
    print(f"{key}: {value}")

clinical_df & labs_df: ['ACTH', 'ADAMTS13 ACTIVITY', 'ALT', 'AMIKACIN LVL', 'AMIKACIN ONCE DAILY DOSE', 'ANDROSTENEDIONE', 'ANTI GLIADIN IGA', 'ANTI GLIADIN IGG', 'ANTI XA HEPARIN', 'ANTI XA LMWH', 'ANTI-IA2', 'ASO TITER', 'AST', 'C-PEPTIDE', 'CA 125', 'CA 15-3', 'CA 19-9', 'CEA', 'CERULOPLASMIN', 'CORTISOL AM', 'CORTISOL LVL', 'CORTISOL PM', 'CYCLOSPORIN C0', 'CYSTATIN C', 'EGFR (CKD-EPI)', 'ELASTASE-STOOL', 'ENZYMATIC CREATININE', 'FACTOR VIII ACTIVITY, CHROMOGENIC', 'FACTOR XIII', 'FERRITIN LVL', 'FIBRINOGEN LVL', 'FRACT EXCRETION OF UREA', 'GGT', 'GLUCOSE CSF', 'GLUCOSE FASTING', 'GLUCOSE RANDOM', 'GLUCOSE URINE', 'GROWTH HORMONE', 'HAPTOGLOBIN', 'I:T RATIO', 'IGA', 'IGE', 'IGG CSF', 'IGM', 'INTERLEUKIN 6', 'LACTIC ACID CSF', 'LDH CSF', 'LEVETIRACETAM LEVEL', 'PH, BODY FLUID', 'PREALBUMIN', 'PROCALCITONIN', 'PROTEIN CSF', 'PROTEIN S FREE', 'PROTEIN URINE', 'PTH INTACT', 'RBC FOLATE', 'REPTILASE TEST', 'SARS-COV-2 S1 TOTAL ABS', 'SELENIUM', 'SIROLIMUS TROUGH', 'SWEAT CHLORIDE', 'SWEAT TEST', 'THROMBIN TIME', 'THYROGLOBULIN', 'TRANSCUTANEOUS BILIRUBIN', 'TRANSFERRIN', 'TRANSTUBULAR K GRADIENT', 'TROPONIN-T', 'TROPONIN-T(ADDON)', 'UREA (POST DIALYSIS)', 'UREA LVL', 'URIC ACID', 'VWF ANTIGEN']
clinical_df & drugs_df: ['ACETAMINOPHEN', 'ACETYLCYSTEINE', 'ADENOSINE', 'ALBENDAZOLE', 'ALBUMIN HUMAN', 'ALBUTEROL', 'ALLOPURINOL', 'ALTEPLASE', 'ALUMINUM HYDROXIDE-MAGNESIUM HYDROXIDE', 'AMIKACIN', 'AMINO ACID', 'AMIODARONE', 'AMLODIPINE', 'AMOXICILLIN-CLAVULANATE', 'AMPHOTERICIN B', 'AMPHOTERICIN B LIPID COMPLEX', 'AMPHOTERICIN B LIPOSOMAL', 'AMPICILLIN', 'ANAKINRA', 'ANIDULAFUNGIN', 'ANTITHROMBIN III', 'APREPITANT', 'ASCORBIC ACID', 'ASPARAGINASE', 'ASPIRIN', 'ATORVASTATIN', 'ATROPINE', 'AZITHROMYCIN', 'AZTREONAM', 'B-SITOSTEROL 0.25%', 'BALANCED SALT SOLUTION', 'BERACTANT', 'BETAMETHASONE', 'BETAMETHASONE-CLOTRIMAZOLE TOPICAL', 'BIOTIN', 'BISOPROLOL', 'BLEOMYCIN', 'BUDESONIDE', 'BUMETANIDE', 'BUPIVACAINE', 'BUPIVACAINE-EPINEPHRINE', 'CAFFEINE', 'CALAMINE TOPICAL', 'CALCITRIOL', 'CALCIUM ACETATE', 'CALCIUM CARBONATE', 'CALCIUM CHLORIDE', 'CALCIUM GLUCONATE', 'CAPTOPRIL', 'CARBAMAZEPINE', 'CARBOPLATIN', 'CARGLUMIC ACID', 'CARVEDILOL', 'CASPOFUNGIN', 'CEFAZOLIN', 'CEFDINIR', 'CEFEPIME', 'CEFIXIME', 'CEFOTAXIME', 'CEFPROZIL', 'CEFTAZIDIME', 'CEFTRIAXONE', 'CEFUROXIME', 'CEPHALEXIN', 'CETIRIZINE', 'CHARCOAL', 'CHLORAL HYDRATE', 'CHLORPHENIRAMINE', 'CHOLECALCIFEROL', 'CHOLESTYRAMINE', 'CHOLINE SALICYLATE', 'CHORIONIC GONADOTROPIN (HCG)', 'CITRIC ACID-POTASSIUM CITRATE', 'CITRULLINE', 'CLARITHROMYCIN', 'CLINDAMYCIN', 'CLONIDINE', 'CLOPIDOGREL', 'CLOTRIMAZOLE TOPICAL', 'COAGULATION FACTOR VIIA', 'CYCLOPENTOLATE OPHTHALMIC', 'CYCLOPHOSPHAMIDE', 'CYCLOSPORINE', 'CYTARABINE', 'DACTINOMYCIN', 'DARBEPOETIN ALFA', 'DAUNORUBICIN', 'DESLORATADINE', 'DESMOPRESSIN', 'DEXAMETHASONE', 'DEXAMETHASONE OPHTHALMIC', 'DEXAMETHASONE-TOBRAMYCIN OPHTHALMIC', 'DEXPANTHENOL TOPICAL', 'DEXTROMETHORPHAN EXTENDED RELEASE', 'DEXTROSE 10% IN WATER', 'DEXTROSE 10% WITH 0.2% NACL', 'DEXTROSE 10% WITH 0.45% NACL', 'DEXTROSE 25% IN WATER', 'DEXTROSE 5% IN WATER', 'DEXTROSE 5% WITH 0.45% NACL', 'DEXTROSE 5% WITH 0.9% NACL', 'DEXTROSE 50% IN WATER', 'DIAZEPAM', 'DICLOFENAC', 'DIPHENHYDRAMINE', 'DOBUTAMINE', 'DOCUSATE', 'DOMPERIDONE', 'DOPAMINE', 'DORNASE ALFA', 'DOXAPRAM', 'DOXORUBICIN', 'DUPILUMAB', 'ECULIZUMAB', 'ELECTROLYTE REPLACEMENT SOLUTIONS, ORAL', 'ELOSULFASE ALFA', 'EMAPALUMAB', 'EMICIZUMAB', 'EMOLLIENTS, TOPICAL', 'ENOXAPARIN', 'EPHEDRINE', 'EPINEPHRINE', 'EPINEPHRINE/LIDOCAINE/TETRACAINE TOPICAL', 'EPOETIN ALFA', 'ERGOCALCIFEROL', 'ESMOLOL', 'ESOMEPRAZOLE', 'ETHAMBUTOL', 'ETOMIDATE', 'ETOPOSIDE', 'FACTOR IX COMPLEX', 'FAMOTIDINE', 'FAT EMULSION, INTRAVENOUS', 'FENTANYL', 'FERRIC CARBOXYMALTOSE', 'FERROUS FUMARATE', 'FERROUS SULFATE', 'FIBRINOGEN', 'FILGRASTIM', 'FLECAINIDE', 'FLUCLOXACILLIN', 'FLUCONAZOLE', 'FLUDROCORTISONE', 'FLUMAZENIL', 'FLUTICASONE', 'FOLIC ACID', 'FOSCARNET', 'FUROSEMIDE', 'FUSIDIC ACID', 'GENTAMICIN', 'GENTAMICIN OPHTHALMIC', 'GLUCAGON', 'GLUCOSE', 'GLYCERIN', 'GLYCINE', 'GLYCOPYRROLATE', 'GONADORELIN', 'GRANISETRON', 'HEPARIN', 'HEPARIN FLUSH', 'HEPATITIS B IMMUNE GLOBULIN', 'HUMAN PAPILLOMAVIRUS VACCINE', 'HYALURONIDASE', 'HYDROCHLOROTHIAZIDE', 'HYDROCORTISONE', 'HYDROCORTISONE 1%-FUSIDIC ACID 2%', 'HYDROCORTISONE TOPICAL', 'HYDROXOCOBALAMIN', 'IBUPROFEN', 'IMMUNE GLOBULIN INTRAVENOUS', 'INSULIN ASPART', 'INSULIN REGULAR', 'IPRATROPIUM', 'IRON SUCROSE', 'ITRACONAZOLE', 'KETAMINE', 'KETOROLAC', 'L-SERINE', 'LACTASE', 'LACTULOSE', 'LAMIVUDINE', 'LEUCOVORIN', 'LEVETIRACETAM', 'LEVOCARNITINE', 'LEVOTHYROXINE', 'LIDOCAINE', 'LIDOCAINE TOPICAL', 'LIDOCAINE-PRILOCAINE TOPICAL', 'LIDOCAINE/EPINEPHRINE/TETRACAINE GEL', 'LIDOCAINE/FLUORESCEIN', 'LOPERAMIDE', 'LORATADINE', 'LORAZEPAM', 'LOTEPREDNOL OPHTHALMIC', 'MAGIC MOUTH WASH*', 'MAGIC MOUTHWASH WITH NYSTATIN', 'MAGNESIUM OXIDE', 'MAGNESIUM SULFATE', 'MANNITOL', 'MEROPENEM', 'MESNA', 'METHOTREXATE', 'METHYLPREDNISOLONE', 'METOCLOPRAMIDE', 'METOLAZONE', 'METRONIDAZOLE', 'MEXILETINE', 'MICAFUNGIN', 'MICONAZOLE TOPICAL', 'MIDAZOLAM', 'MIDODRINE', 'MIGLUSTAT', 'MILRINONE', 'MITOMYCIN', 'MITOMYCIN OPHTHALMIC', 'MONTELUKAST', 'MORPHINE', 'MULTIVITAMIN', 'MUPIROCIN TOPICAL', 'NALOXONE', 'NEOMYCIN', 'NEOSTIGMINE', 'NICARDIPINE', 'NIFEDIPINE', 'NITROGLYCERIN', 'NITROPRUSSIDE', 'NOREPINEPHRINE', 'NUSINERSEN', 'NYSTATIN', 'NYSTATIN TOPICAL', 'OCTREOTIDE', 'OCULAR LUBRICANT', 'OMEGA-3 POLYUNSATURATED FATTY ACIDS', 'OMEPRAZOLE', 'ONABOTULINUMTOXINA', 'ONCOLOGY MOUTHWASH*', 'ONDANSETRON', 'OSELTAMIVIR', 'OXCARBAZEPINE', 'OXYBUPROCAINE', 'OXYBUTYNIN', 'PALIVIZUMAB', 'PALONOSETRON', 'PANCRELIPASE', 'PANCURONIUM', 'PANTOPRAZOLE', 'PEGFILGRASTIM', 'PENICILLIN G BENZATHINE', 'PENICILLIN G SODIUM', 'PETROLATUM TOPICAL', 'PHENOBARBITAL', 'PHENYLEPHRINE', 'PHENYLEPHRINE OPHTHALMIC', 'PHENYTOIN', 'PHYTONADIONE', 'PIMECROLIMUS TOPICAL', 'PIPERACILLIN-TAZOBACTAM', 'PLASMA-LYTE A', 'PNEUMOCOCCAL 7-VALENT VACCINE', 'PORACTANT ALPHA', 'POTASSIUM CHLORIDE', 'POTASSIUM PHOSPHATE', 'PRAZOSIN', 'PREDNISOLONE', 'PROMETHAZINE', 'PROPOFOL', 'PROPRANOLOL', 'PROTAMINE', 'PYRIMETHAMINE', 'RACECADOTRIL', 'RACEPINEPHRINE', 'RALTEGRAVIR', 'RANIBIZUMAB OPHTHALMIC', 'REMIFENTANIL', 'RIBOFLAVIN', 'ROCURONIUM', 'ROPIVACAINE', 'ROTAVIRUS VACCINE', 'SCOPOLAMINE', 'SELENIUM', 'SENNA', 'SEVELAMER', 'SILDENAFIL', 'SILVER NITRATE TOPICAL', 'SIMETHICONE', 'SIROLIMUS', 'SODIUM ACETATE', 'SODIUM ACID PHOSPHATE', 'SODIUM BENZOATE', 'SODIUM BICARBONATE', 'SODIUM CHLORIDE', 'SODIUM CHLORIDE 0.45%', 'SODIUM CHLORIDE 0.9%', 'SODIUM CHLORIDE 0.9% IRRIGATION', 'SODIUM CHLORIDE 3%', 'SODIUM CHLORIDE 7%', 'SODIUM PHOSPHATE', 'SODIUM POLYSTYRENE SULFONATE', 'SPIRONOLACTONE', 'STERILE WATER', 'STOMATITIS MOUTHWASH', 'SUCCINYLCHOLINE', 'SUCRALFATE', 'SUCROSE', 'SUFENTANIL', 'SUGAMMADEX', 'SULFADIAZINE', 'SULFAMETHOXAZOLE-TRIMETHOPRIM', 'TADALAFIL', 'TEICOPLANIN', 'TETANUS IMMUNE GLOBULIN', 'TETRACOSACTIDE', 'THIOGUANINE', 'TINZAPARIN', 'TOBRAMYCIN', 'TOBRAMYCIN OPHTHALMIC', 'TOPIRAMATE', 'TOPOTECAN', 'TRANEXAMIC ACID', 'TRIMETHOPRIM', 'TUBERCULIN PURIFIED PROTEIN DERIVATIVE', 'UBIQUINONE', 'URSODIOL', 'VALGANCICLOVIR', 'VANCOMYCIN', 'VARICELLA VACCINE', 'VARICELLA ZOSTER IMMUNE GLOBULIN', 'VASOPRESSIN', 'VIGABATRIN', 'VINCRISTINE', 'VITAMIN A', 'WARFARIN', 'ZINC GLUCONATE', 'ZINC OXIDE TOPICAL', 'ZINC OXIDE-BETAMETHASONE 0.05%', 'ZOLEDRONIC ACID']
labs_df & clinical_df: ['ACTH', 'ADAMTS13 ACTIVITY', 'ALT', 'AMIKACIN LVL', 'AMIKACIN ONCE DAILY DOSE', 'ANDROSTENEDIONE', 'ANTI GLIADIN IGA', 'ANTI GLIADIN IGG', 'ANTI XA HEPARIN', 'ANTI XA LMWH', 'ANTI-IA2', 'ASO TITER', 'AST', 'C-PEPTIDE', 'CA 125', 'CA 15-3', 'CA 19-9', 'CEA', 'CERULOPLASMIN', 'CORTISOL AM', 'CORTISOL LVL', 'CORTISOL PM', 'CYCLOSPORIN C0', 'CYSTATIN C', 'EGFR (CKD-EPI)', 'ELASTASE-STOOL', 'ENZYMATIC CREATININE', 'FACTOR VIII ACTIVITY, CHROMOGENIC', 'FACTOR XIII', 'FERRITIN LVL', 'FIBRINOGEN LVL', 'FRACT EXCRETION OF UREA', 'GGT', 'GLUCOSE CSF', 'GLUCOSE FASTING', 'GLUCOSE RANDOM', 'GLUCOSE URINE', 'GROWTH HORMONE', 'HAPTOGLOBIN', 'I:T RATIO', 'IGA', 'IGE', 'IGG CSF', 'IGM', 'INTERLEUKIN 6', 'LACTIC ACID CSF', 'LDH CSF', 'LEVETIRACETAM LEVEL', 'PH, BODY FLUID', 'PREALBUMIN', 'PROCALCITONIN', 'PROTEIN CSF', 'PROTEIN S FREE', 'PROTEIN URINE', 'PTH INTACT', 'RBC FOLATE', 'REPTILASE TEST', 'SARS-COV-2 S1 TOTAL ABS', 'SELENIUM', 'SIROLIMUS TROUGH', 'SWEAT CHLORIDE', 'SWEAT TEST', 'THROMBIN TIME', 'THYROGLOBULIN', 'TRANSCUTANEOUS BILIRUBIN', 'TRANSFERRIN', 'TRANSTUBULAR K GRADIENT', 'TROPONIN-T', 'TROPONIN-T(ADDON)', 'UREA (POST DIALYSIS)', 'UREA LVL', 'URIC ACID', 'VWF ANTIGEN']
labs_df & drugs_df: ['SELENIUM']
drugs_df & clinical_df: ['ACETAMINOPHEN', 'ACETYLCYSTEINE', 'ADENOSINE', 'ALBENDAZOLE', 'ALBUMIN HUMAN', 'ALBUTEROL', 'ALLOPURINOL', 'ALTEPLASE', 'ALUMINUM HYDROXIDE-MAGNESIUM HYDROXIDE', 'AMIKACIN', 'AMINO ACID', 'AMIODARONE', 'AMLODIPINE', 'AMOXICILLIN-CLAVULANATE', 'AMPHOTERICIN B', 'AMPHOTERICIN B LIPID COMPLEX', 'AMPHOTERICIN B LIPOSOMAL', 'AMPICILLIN', 'ANAKINRA', 'ANIDULAFUNGIN', 'ANTITHROMBIN III', 'APREPITANT', 'ASCORBIC ACID', 'ASPARAGINASE', 'ASPIRIN', 'ATORVASTATIN', 'ATROPINE', 'AZITHROMYCIN', 'AZTREONAM', 'B-SITOSTEROL 0.25%', 'BALANCED SALT SOLUTION', 'BERACTANT', 'BETAMETHASONE', 'BETAMETHASONE-CLOTRIMAZOLE TOPICAL', 'BIOTIN', 'BISOPROLOL', 'BLEOMYCIN', 'BUDESONIDE', 'BUMETANIDE', 'BUPIVACAINE', 'BUPIVACAINE-EPINEPHRINE', 'CAFFEINE', 'CALAMINE TOPICAL', 'CALCITRIOL', 'CALCIUM ACETATE', 'CALCIUM CARBONATE', 'CALCIUM CHLORIDE', 'CALCIUM GLUCONATE', 'CAPTOPRIL', 'CARBAMAZEPINE', 'CARBOPLATIN', 'CARGLUMIC ACID', 'CARVEDILOL', 'CASPOFUNGIN', 'CEFAZOLIN', 'CEFDINIR', 'CEFEPIME', 'CEFIXIME', 'CEFOTAXIME', 'CEFPROZIL', 'CEFTAZIDIME', 'CEFTRIAXONE', 'CEFUROXIME', 'CEPHALEXIN', 'CETIRIZINE', 'CHARCOAL', 'CHLORAL HYDRATE', 'CHLORPHENIRAMINE', 'CHOLECALCIFEROL', 'CHOLESTYRAMINE', 'CHOLINE SALICYLATE', 'CHORIONIC GONADOTROPIN (HCG)', 'CITRIC ACID-POTASSIUM CITRATE', 'CITRULLINE', 'CLARITHROMYCIN', 'CLINDAMYCIN', 'CLONIDINE', 'CLOPIDOGREL', 'CLOTRIMAZOLE TOPICAL', 'COAGULATION FACTOR VIIA', 'CYCLOPENTOLATE OPHTHALMIC', 'CYCLOPHOSPHAMIDE', 'CYCLOSPORINE', 'CYTARABINE', 'DACTINOMYCIN', 'DARBEPOETIN ALFA', 'DAUNORUBICIN', 'DESLORATADINE', 'DESMOPRESSIN', 'DEXAMETHASONE', 'DEXAMETHASONE OPHTHALMIC', 'DEXAMETHASONE-TOBRAMYCIN OPHTHALMIC', 'DEXPANTHENOL TOPICAL', 'DEXTROMETHORPHAN EXTENDED RELEASE', 'DEXTROSE 10% IN WATER', 'DEXTROSE 10% WITH 0.2% NACL', 'DEXTROSE 10% WITH 0.45% NACL', 'DEXTROSE 25% IN WATER', 'DEXTROSE 5% IN WATER', 'DEXTROSE 5% WITH 0.45% NACL', 'DEXTROSE 5% WITH 0.9% NACL', 'DEXTROSE 50% IN WATER', 'DIAZEPAM', 'DICLOFENAC', 'DIPHENHYDRAMINE', 'DOBUTAMINE', 'DOCUSATE', 'DOMPERIDONE', 'DOPAMINE', 'DORNASE ALFA', 'DOXAPRAM', 'DOXORUBICIN', 'DUPILUMAB', 'ECULIZUMAB', 'ELECTROLYTE REPLACEMENT SOLUTIONS, ORAL', 'ELOSULFASE ALFA', 'EMAPALUMAB', 'EMICIZUMAB', 'EMOLLIENTS, TOPICAL', 'ENOXAPARIN', 'EPHEDRINE', 'EPINEPHRINE', 'EPINEPHRINE/LIDOCAINE/TETRACAINE TOPICAL', 'EPOETIN ALFA', 'ERGOCALCIFEROL', 'ESMOLOL', 'ESOMEPRAZOLE', 'ETHAMBUTOL', 'ETOMIDATE', 'ETOPOSIDE', 'FACTOR IX COMPLEX', 'FAMOTIDINE', 'FAT EMULSION, INTRAVENOUS', 'FENTANYL', 'FERRIC CARBOXYMALTOSE', 'FERROUS FUMARATE', 'FERROUS SULFATE', 'FIBRINOGEN', 'FILGRASTIM', 'FLECAINIDE', 'FLUCLOXACILLIN', 'FLUCONAZOLE', 'FLUDROCORTISONE', 'FLUMAZENIL', 'FLUTICASONE', 'FOLIC ACID', 'FOSCARNET', 'FUROSEMIDE', 'FUSIDIC ACID', 'GENTAMICIN', 'GENTAMICIN OPHTHALMIC', 'GLUCAGON', 'GLUCOSE', 'GLYCERIN', 'GLYCINE', 'GLYCOPYRROLATE', 'GONADORELIN', 'GRANISETRON', 'HEPARIN', 'HEPARIN FLUSH', 'HEPATITIS B IMMUNE GLOBULIN', 'HUMAN PAPILLOMAVIRUS VACCINE', 'HYALURONIDASE', 'HYDROCHLOROTHIAZIDE', 'HYDROCORTISONE', 'HYDROCORTISONE 1%-FUSIDIC ACID 2%', 'HYDROCORTISONE TOPICAL', 'HYDROXOCOBALAMIN', 'IBUPROFEN', 'IMMUNE GLOBULIN INTRAVENOUS', 'INSULIN ASPART', 'INSULIN REGULAR', 'IPRATROPIUM', 'IRON SUCROSE', 'ITRACONAZOLE', 'KETAMINE', 'KETOROLAC', 'L-SERINE', 'LACTASE', 'LACTULOSE', 'LAMIVUDINE', 'LEUCOVORIN', 'LEVETIRACETAM', 'LEVOCARNITINE', 'LEVOTHYROXINE', 'LIDOCAINE', 'LIDOCAINE TOPICAL', 'LIDOCAINE-PRILOCAINE TOPICAL', 'LIDOCAINE/EPINEPHRINE/TETRACAINE GEL', 'LIDOCAINE/FLUORESCEIN', 'LOPERAMIDE', 'LORATADINE', 'LORAZEPAM', 'LOTEPREDNOL OPHTHALMIC', 'MAGIC MOUTH WASH*', 'MAGIC MOUTHWASH WITH NYSTATIN', 'MAGNESIUM OXIDE', 'MAGNESIUM SULFATE', 'MANNITOL', 'MEROPENEM', 'MESNA', 'METHOTREXATE', 'METHYLPREDNISOLONE', 'METOCLOPRAMIDE', 'METOLAZONE', 'METRONIDAZOLE', 'MEXILETINE', 'MICAFUNGIN', 'MICONAZOLE TOPICAL', 'MIDAZOLAM', 'MIDODRINE', 'MIGLUSTAT', 'MILRINONE', 'MITOMYCIN', 'MITOMYCIN OPHTHALMIC', 'MONTELUKAST', 'MORPHINE', 'MULTIVITAMIN', 'MUPIROCIN TOPICAL', 'NALOXONE', 'NEOMYCIN', 'NEOSTIGMINE', 'NICARDIPINE', 'NIFEDIPINE', 'NITROGLYCERIN', 'NITROPRUSSIDE', 'NOREPINEPHRINE', 'NUSINERSEN', 'NYSTATIN', 'NYSTATIN TOPICAL', 'OCTREOTIDE', 'OCULAR LUBRICANT', 'OMEGA-3 POLYUNSATURATED FATTY ACIDS', 'OMEPRAZOLE', 'ONABOTULINUMTOXINA', 'ONCOLOGY MOUTHWASH*', 'ONDANSETRON', 'OSELTAMIVIR', 'OXCARBAZEPINE', 'OXYBUPROCAINE', 'OXYBUTYNIN', 'PALIVIZUMAB', 'PALONOSETRON', 'PANCRELIPASE', 'PANCURONIUM', 'PANTOPRAZOLE', 'PEGFILGRASTIM', 'PENICILLIN G BENZATHINE', 'PENICILLIN G SODIUM', 'PETROLATUM TOPICAL', 'PHENOBARBITAL', 'PHENYLEPHRINE', 'PHENYLEPHRINE OPHTHALMIC', 'PHENYTOIN', 'PHYTONADIONE', 'PIMECROLIMUS TOPICAL', 'PIPERACILLIN-TAZOBACTAM', 'PLASMA-LYTE A', 'PNEUMOCOCCAL 7-VALENT VACCINE', 'PORACTANT ALPHA', 'POTASSIUM CHLORIDE', 'POTASSIUM PHOSPHATE', 'PRAZOSIN', 'PREDNISOLONE', 'PROMETHAZINE', 'PROPOFOL', 'PROPRANOLOL', 'PROTAMINE', 'PYRIMETHAMINE', 'RACECADOTRIL', 'RACEPINEPHRINE', 'RALTEGRAVIR', 'RANIBIZUMAB OPHTHALMIC', 'REMIFENTANIL', 'RIBOFLAVIN', 'ROCURONIUM', 'ROPIVACAINE', 'ROTAVIRUS VACCINE', 'SCOPOLAMINE', 'SELENIUM', 'SENNA', 'SEVELAMER', 'SILDENAFIL', 'SILVER NITRATE TOPICAL', 'SIMETHICONE', 'SIROLIMUS', 'SODIUM ACETATE', 'SODIUM ACID PHOSPHATE', 'SODIUM BENZOATE', 'SODIUM BICARBONATE', 'SODIUM CHLORIDE', 'SODIUM CHLORIDE 0.45%', 'SODIUM CHLORIDE 0.9%', 'SODIUM CHLORIDE 0.9% IRRIGATION', 'SODIUM CHLORIDE 3%', 'SODIUM CHLORIDE 7%', 'SODIUM PHOSPHATE', 'SODIUM POLYSTYRENE SULFONATE', 'SPIRONOLACTONE', 'STERILE WATER', 'STOMATITIS MOUTHWASH', 'SUCCINYLCHOLINE', 'SUCRALFATE', 'SUCROSE', 'SUFENTANIL', 'SUGAMMADEX', 'SULFADIAZINE', 'SULFAMETHOXAZOLE-TRIMETHOPRIM', 'TADALAFIL', 'TEICOPLANIN', 'TETANUS IMMUNE GLOBULIN', 'TETRACOSACTIDE', 'THIOGUANINE', 'TINZAPARIN', 'TOBRAMYCIN', 'TOBRAMYCIN OPHTHALMIC', 'TOPIRAMATE', 'TOPOTECAN', 'TRANEXAMIC ACID', 'TRIMETHOPRIM', 'TUBERCULIN PURIFIED PROTEIN DERIVATIVE', 'UBIQUINONE', 'URSODIOL', 'VALGANCICLOVIR', 'VANCOMYCIN', 'VARICELLA VACCINE', 'VARICELLA ZOSTER IMMUNE GLOBULIN', 'VASOPRESSIN', 'VIGABATRIN', 'VINCRISTINE', 'VITAMIN A', 'WARFARIN', 'ZINC GLUCONATE', 'ZINC OXIDE TOPICAL', 'ZINC OXIDE-BETAMETHASONE 0.05%', 'ZOLEDRONIC ACID']
drugs_df & labs_df: ['SELENIUM']

In [13]:
import numpy as np

def merge_columns(series_1, series_2):
    series_1, series_2 = series_1.align(series_2, fill_value=np.nan)
    merged_values = np.where(series_1.isnull(), series_2, 
                    np.where(series_2.isnull(), series_1, 
                    series_1))
    flags = np.where((~series_1.isnull() & ~series_2.isnull() & (series_1 != series_2)), "FLAG", None)
    return merged_values, flags

In [20]:
def process_overlaps(df1, df2, overlapping_columns):
    # Making a copy of the first dataframe to store results
    result_df = df1.copy()
    
    for col in overlapping_columns:
        # Join on the index (PERSONID)
        temp_df = df1[[col]].join(df2[[col]], rsuffix="_r", how='left')
        
        # Logic to create merged values
        # 1) if both columns have same value for one patient, then we can keep the value
        # 2) if there is value in one column but not other, we take the value one
        # 3) if there is value mismatch, we flag it
        mask_same = temp_df[col] == temp_df[col + "_r"]
        mask_one_missing = temp_df[col].isnull() | temp_df[col + "_r"].isnull()
        mask_mismatch = ~(mask_same | mask_one_missing)
        
        result_df[col + "_merged"] = np.where(mask_same, temp_df[col], 
                                  np.where(mask_one_missing, temp_df[col].fillna(temp_df[col + "_r"]), 
                                  "FLAGGED"))
        
        # If you want to retain the values when flagged:
        result_df[col + "_merged"] = np.where(mask_mismatch, 
                                  temp_df[col].astype(str) + "|" + temp_df[col + "_r"].astype(str),
                                  result_df[col + "_merged"])
        
        # Drop the original column
        result_df = result_df.drop(col, axis=1)
        
        # Rename the merged column to original name
        result_df = result_df.rename(columns={col + "_merged": col})
        
    return result_df

In [21]:
clinical_df = process_overlaps(clinical_df, labs_df, ['ACTH', 'ADAMTS13 ACTIVITY', 'ALT'])
clinical_df = process_overlaps(clinical_df, drugs_df, ['ACETAMINOPHEN', 'ACETYLCYSTEINE', 'ADENOSINE'])
labs_df = process_overlaps(labs_df, drugs_df, ['SELENIUM'])

In [ ]:
clinical_df[clinical_df['ANDROSTENEDIONE'].notnull()][["ANDROSTENEDIONE"]]

In [ ]:
labs_df[labs_df['ANDROSTENEDIONE'].notnull()][['ANDROSTENEDIONE']]

In [26]:
labs_df[labs_df.index==82138310][["SELENIUM"]]

          SELENIUM
PERSONID
82138310       0.0

In [42]:
def merge_columns(row, col1, col2):
    val1 = row[col1]
    val2 = row[col2]
    
    if pd.isnull(val1):
        return val2
    if pd.isnull(val2):
        return val1
    if val1 == val2:
        return val1
    return "FLAG"

combinations = [
    (clinical_df, labs_df, 'clinical_df', 'labs_df'),
    (clinical_df, drugs_df, 'clinical_df', 'drugs_df'),
    (labs_df, drugs_df, 'labs_df', 'drugs_df')
]

for df1, df2, df1_name, df2_name in combinations:
    overlapping_cols = df1.columns.intersection(df2.columns).tolist()
    overlapping_cols = [col for col in overlapping_cols if col not in ['POMPE']]
    
    for col in overlapping_cols:
        combined_col_name = f"{col}_combined"
        
        # This step creates two new dataframes with the same index but different column names for merging
        merged_df = df1[[col]].rename(columns={col: f"{col}_{df1_name}"}).join(df2[[col]].rename(columns={col: f"{col}_{df2_name}"}))
        merged_df[combined_col_name] = merged_df.apply(merge_columns, col1=f"{col}_{df1_name}", col2=f"{col}_{df2_name}", axis=1)
        
        # Update original dataframes with the new combined column and drop old columns
        df1.drop(columns=col, inplace=True)
        df1[combined_col_name] = merged_df[combined_col_name]
        
        df2.drop(columns=col, inplace=True)
        df2[combined_col_name] = merged_df[combined_col_name]

In [ ]:
def get_flagged_rows(df):
    return df[df.applymap(lambda x: x == "FLAG").any(axis=1)]

# Now, for each dataframe, fetch the flagged rows
flagged_rows_clinical = get_flagged_rows(clinical_df)
flagged_rows_labs = get_flagged_rows(labs_df)
flagged_rows_drugs = get_flagged_rows(drugs_df)

# To see the flagged rows for each dataframe:
print("Flagged rows in clinical_df:")
print(flagged_rows_clinical)

print("\nFlagged rows in labs_df:")
print(flagged_rows_labs)

print("\nFlagged rows in drugs_df:")
print(flagged_rows_drugs)